:root {
    --header-logo: #2196F3;
    --accent-color: #212121;
    --logo-color: #000;
    --aditional-color: #757575;
    --footer-background: #2F303A;
    --footer-number: rgba(255, 255, 255, 0.60);
    --main-background: #FFF;
    --team-background: #F5F4FA;
    --title-color: #212121;
    }

body{
    font-family: "Roboto";
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.color-web{
color: var(--header-logo);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}
.header-logo{
color: var(--logo-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}
.nav-link{
color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.nav-link:hover,
.nav-link:focus{
    color: var(--header-logo);
}

.header-link{
color: var(--aditional-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.header-link:hover,
.header-link:focus{
    color: var(--header-logo);
}
.hero{
    background-color: var(--footer-background);
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title{
color: var(--main-background);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
}
.hero-button{
color: var(--main-background);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
background-color: var(--header-logo);
margin-top: 45px;
padding: 21px 32px;
border-radius: 4px;
margin-left: 476px;

}
.benefits{
    margin-top: 94px;
}
.benefits-title{
color: var(--accent-color);
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.benefits-text{
color: var(--aditional-color);
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.work{
    margin-top: 94px;
    margin-bottom: 94px;
}
.work-list{
    margin-top: 59px;
}
.work-title{
color: var(--accent-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}

.team{
    margin-top: 94px;
}
.team-list{
    margin-top: 92px;
    margin-bottom: 94px;

}
.team-title{
color: var(--accent-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}
.team-caption{
color: var(--accent-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.team-text{
color: var(--aditional-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.footer{
    margin-top: 60px;
    margin-bottom: 60px;
}
.footer-logo{
color: var(--header-logo);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.address{
color: var(--main-background);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-link{
color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.card-title{
color: var(--accent-color);
font-size: 18px;
font-weight: 700;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
}
.card-text{
color: var(--aditional-color);
font-size: 16px;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
}